<nav>
    <div class="site-title">
        <a href="/"><h1>Blog EJS</h1></a>
        <p style="color: lightgray;">SSR Server Side Rendering - MongoDB Atlas Cloud</p>
    </div>
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>